<% include header.ejs %>
<body>
<div class="container">
         <div id="header" class="bg-info">
                <% include navigation.ejs %>

    <div class="jumbotron text-center">
        <h1><span class="fa fa-files-o"></span> Thesis Repository</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
        <a href="/search" class="btn btn-default"><span class="fa fa-user"></span> Search</a>
    </div>
        <% include footer.ejs %>


</div>
</body>
</html>
