    <div id="search">
        <form method="post"  action="/search" enctype="multipart/form-data">
            <input type="text" id="search_bar" name="search_bar" placeholder="Enter keyword..."/>
            <input type="submit" value="Search Here"/>
        </form>
    </div>
